# Fichiers Python compilés
__pycache__/
*.py[cod]

# Environnement virtuel
venv/

# Fichiers de logs
*.log

# Fichiers de base de données SQLite (on utilise Postgres mais on peut en avoir)
db.sqlite3

# Fichiers .env (config sensible)
.env
